body {
	font-size: 16px;
	padding-top: 100px;
	background-color: #9d9c9c;
}

.vid {
	text-align: center;
}

/*#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
*/

/*Vertical line in the left side social media handles*/
.ver {
     border-left: 3px solid black;
     margin-left: 20px;
	 height: 200px;
	 position: relative;
  }

#main-content{
	padding-bottom: 50px;
}

div img {
	width: 25px;
	height: 25px;
	margin: 10px;	
	margin-bottom: 30px;
}

div hr {
	transform: rotate(90deg);
	text-align: center;
}

header {
	margin: 50px;
}



.panel-footer {
	color: #fff;
	background-color: #222;
}